In [1]:
import pandas as pd

In [4]:
ORIGINAL_DATA_FILE_DIR = '../../../../datasets/original-data/Exported Data_202309081717_Arrojeria, Esther.csv'

Las primeras 6 filas es información de la captura de datos

In [5]:
with open(ORIGINAL_DATA_FILE_DIR, 'r') as file:
    # Lee todas las líneas del archivo en una lista
    lines = file.readlines()

In [8]:
lines[:4]

['\ufeffExported Sensor Data, Version 2\n',
 'Start Time: ,[2023-09-08 19:17:59 652],Arrojeria  Esther\n',
 '\n',
 '\n']

In [9]:
skip_rows = 4

Inicio de la captura, nombre de la jugadora, tipo, nombre, inicio y fin

In [10]:
player_name = 'arrojeria_esther'

In [11]:
record_date = '20230908'

In [12]:
df = pd.read_csv(ORIGINAL_DATA_FILE_DIR,skiprows=skip_rows)
df.head()

,Seconds from Start,Date Time,Speed (km/h),HR (bpm),Core Temperature °C,X accelerometer (Sideways),Y accelerometer (Forward),Z accelerometer (Vertical),Raw RR (ms),Filtered RR (ms),Difference,HR RMSSD,ActivityLoad 2D,ActivityLoad 3D
0,"1,001",[2023-09-08 19:18:00 653],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,087",[2023-09-08 19:18:00 739],NaN,NaN,NaN,"-0,1531","-9,9531","-10,1163",NaN,NaN,NaN,NaN,NaN,NaN
2,"1,097",[2023-09-08 19:18:00 749],NaN,NaN,NaN,0,"-9,6469","-9,6569",NaN,NaN,NaN,NaN,NaN,NaN
3,"1,102",[2023-09-08 19:18:00 754],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1,106",[2023-09-08 19:18:00 758],NaN,NaN,NaN,"0,1531","-9,9531","-9,81",NaN,NaN,NaN,NaN,NaN,NaN

Debemos obtener la información relevante:
* Seconds from Start
* Date Time
* HR (bpm)
* ActivityLoad 2D
* ActivityLoad 3D

In [13]:
hr = df[~df['HR (bpm)'].isnull()][['Seconds from Start', 'Date Time', 'HR (bpm)']]
hr

        Seconds from Start                  Date Time  HR (bpm)
8771                80,802  [2023-09-08 19:19:20 454]      74.0
8829                81,302  [2023-09-08 19:19:20 954]      74.0
8885                81,802  [2023-09-08 19:19:21 454]      74.0
8938                82,302  [2023-09-08 19:19:21 954]      75.0
8993                82,802  [2023-09-08 19:19:22 454]      75.0
...                    ...                        ...       ...
1040981           9217,814  [2023-09-08 21:51:37 466]     118.0
1041038           9218,313  [2023-09-08 21:51:37 965]     118.0
1041094           9218,816  [2023-09-08 21:51:38 468]     118.0
1041150           9219,316  [2023-09-08 21:51:38 968]     118.0
1041207           9219,816  [2023-09-08 21:51:39 468]     118.0

[17520 rows x 3 columns]

Se cambia el nombre de las variables

In [14]:
hr.columns = ['seconds', 'date', 'hr']

In [15]:
hr.columns

Index(['seconds', 'date', 'hr'], dtype='object')

Se guarda el conjunto de datos resultante

In [16]:
FILE_NAME = f'{player_name}_hr.csv'
print(FILE_NAME)

arrojeria_esther_hr.csv

In [17]:
hr.to_csv(f'../../../../datasets/study-players/{record_date}/{FILE_NAME}')

Ahora hay que obtener la carga de actividad

In [18]:
activity = df[~df['ActivityLoad 2D'].isnull() & ~df['ActivityLoad 3D'].isnull()][['Seconds from Start', 'Date Time', 'ActivityLoad 2D', 'ActivityLoad 3D']]
activity

,Seconds from Start,Date Time,ActivityLoad 2D,ActivityLoad 3D
79,"1,790",[2023-09-08 19:18:01 442],"0,0088","0,0097"
185,"2,790",[2023-09-08 19:18:02 442],"0,0018","0,0025"
295,"3,790",[2023-09-08 19:18:03 442],"0,0018","0,0029"
406,"4,790",[2023-09-08 19:18:04 442],"0,0042","0,0051"
517,"5,790",[2023-09-08 19:18:05 442],"0,0031","0,0041"
...,...,...,...,...
1040832,"9216,491",[2023-09-08 21:51:36 143],"0,0629","0,0877"
1040947,"9217,508",[2023-09-08 21:51:37 160],"0,0625","0,0701"
1041060,"9218,508",[2023-09-08 21:51:38 160],"0,1106","0,1324"
1041172,"9219,510",[2023-09-08 21:51:39 162],"0,0215","0,024"
1041280,"9220,510",[2023-09-08 21:51:40 162],"0,0116","0,0131"

Se cambia el nombre de las variables

In [19]:
activity.columns = ['seconds', 'date', 'activity_load_2d','activity_load_3d']

In [20]:
activity.columns

Index(['seconds', 'date', 'activity_load_2d', 'activity_load_3d'], dtype='object')

Se guarda el conjunto de datos resultante

In [21]:
FILE_NAME = f'{player_name}_activity_load.csv'
print(FILE_NAME)

arrojeria_esther_activity_load.csv

In [22]:
activity.to_csv(f'../../../../datasets/study-players/{record_date}/{FILE_NAME}')