In [1]:
import pandas as pd

In [2]:
record_date = '20230908'

In [3]:
player_name = 'arrojeria_esther'

In [4]:
PLAYER_HR_FILE_DIR = f'../../../../datasets/study-players/{record_date}/{player_name}_hr_without_gaps.csv'
PLAYER_ACTIVITY_FILE_DIR = f'../../../../datasets/study-players/{record_date}/{player_name}_activity_load.csv'

In [5]:
hr = pd.read_csv(PLAYER_HR_FILE_DIR,index_col=0)
activity_load = pd.read_csv(PLAYER_ACTIVITY_FILE_DIR,index_col=0)

In [6]:
hr.head()

   seconds                       date    hr  diff
0   80.802  [2023-09-08 19:19:20 454]  74.0   NaN
1   81.302  [2023-09-08 19:19:20 954]  74.0   0.5
2   81.802  [2023-09-08 19:19:21 454]  74.0   0.5
3   82.302  [2023-09-08 19:19:21 954]  75.0   0.5
4   82.802  [2023-09-08 19:19:22 454]  75.0   0.5

In [7]:
activity_load.head()

     seconds                       date  activity_load_2d  activity_load_3d
79      1.79  [2023-09-08 19:18:01 442]            0.0088            0.0097
185     2.79  [2023-09-08 19:18:02 442]            0.0018            0.0025
295     3.79  [2023-09-08 19:18:03 442]            0.0018            0.0029
406     4.79  [2023-09-08 19:18:04 442]            0.0042            0.0051
517     5.79  [2023-09-08 19:18:05 442]            0.0031            0.0041

### OBTENCIÓN DE VENTANAS DE HR

In [8]:
print(f'Número de registros: {len(hr)}')

Número de registros: 18265

Se fijan los valores para la obtención de ventanas

In [9]:
window_size = 10
overlap = 0.5

Se crea el dataframe en el que se van a guardar las ventanas

In [10]:
window = pd.DataFrame()

Se coge cada registro con un intervalo del tamaño de la ventana multiplicado por el solapamiento

In [11]:
for i in range(0,len(hr), int(window_size*(1-overlap))):
    window = window.append([hr.iloc[i:i+window_size]['hr'].values])

In [12]:
window

        0      1      2      3      4      5      6      7      8      9
0    74.0   74.0   74.0   75.0   75.0   75.0   74.0   74.0   73.0   73.0
0    75.0   74.0   74.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0
0    73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0
0    73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0
0    73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0   73.0
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
0   121.0  120.0  119.0  118.0  118.0  117.0  117.0  117.0  117.0  117.0
0   117.0  117.0  117.0  117.0  117.0  117.0  117.0  117.0  117.0  117.0
0   117.0  117.0  117.0  117.0  117.0  117.0  117.0  117.0  117.0  118.0
0   117.0  117.0  117.0  117.0  118.0  118.0  118.0  118.0  118.0  118.0
0   118.0  118.0  118.0  118.0  118.0    NaN    NaN    NaN    NaN    NaN

[3653 rows x 10 columns]

In [13]:
window.to_csv(f'../../../../datasets/study-players/{record_date}/clustering/{player_name}_hr_windows_10_50.csv')

### OBTENCIÓN DE VENTANAS DE ACTIVITYLOAD

In [14]:
print(f'Número de registros: {len(activity_load)}')

Número de registros: 9195

Se fijan los valores

In [15]:
window_size = 5
overlap = 0.6

En este caso, se va a utilizar el mismo porcentaje de solapamiento, pero un tamaño de ventana menor. Esto no es por algo trivial, si no por tener algo heterógeneo: el tamaño de ventana del ritmo cardíaco era de 10, recogiendo un total de 10 datos en un lapso de tiempo de 5 segundos, ya que se recogía el heart rate cada 0.5 segundos. En este caso, se recogen los activity load cada 1 segundo, por tanto, en el mismo periodo de tiempo, se recogerán tan solo 5 datos.

Se crea el dataframe en el que se van a guardar las ventanas

In [16]:
window = pd.DataFrame()

Primero con ActivityLoad 2D

In [17]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_2d'].values])

In [18]:
window

         0       1       2       3       4
0   0.0088  0.0018  0.0018  0.0042  0.0031
0   0.0018  0.0042  0.0031  0.0021  0.0017
0   0.0031  0.0021  0.0017  0.0040  0.0017
0   0.0017  0.0040  0.0017  0.0019  0.0020
0   0.0017  0.0019  0.0020  0.0020  0.0028
..     ...     ...     ...     ...     ...
0   0.0751  0.1145  0.1988  0.0963  0.0629
0   0.1988  0.0963  0.0629  0.0625  0.1106
0   0.0629  0.0625  0.1106  0.0215  0.0116
0   0.1106  0.0215  0.0116     NaN     NaN
0   0.0116     NaN     NaN     NaN     NaN

[4598 rows x 5 columns]

In [19]:
window.to_csv(f'../../../../datasets/study-players/{record_date}/clustering/{player_name}_al2d_windows_10_60.csv')

Después con ActivityLoad 3D

In [20]:
window = pd.DataFrame()

In [21]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_3d'].values])

In [22]:
window

         0       1       2       3       4
0   0.0097  0.0025  0.0029  0.0051  0.0041
0   0.0029  0.0051  0.0041  0.0031  0.0027
0   0.0041  0.0031  0.0027  0.0050  0.0026
0   0.0027  0.0050  0.0026  0.0030  0.0028
0   0.0026  0.0030  0.0028  0.0028  0.0035
..     ...     ...     ...     ...     ...
0   0.1065  0.1684  0.2310  0.1151  0.0877
0   0.2310  0.1151  0.0877  0.0701  0.1324
0   0.0877  0.0701  0.1324  0.0240  0.0131
0   0.1324  0.0240  0.0131     NaN     NaN
0   0.0131     NaN     NaN     NaN     NaN

[4598 rows x 5 columns]

In [23]:
window.to_csv(f'../../../../datasets/study-players/{record_date}/clustering/{player_name}_al3d_windows_10_60.csv')