# Cuaderno que se encarga de obtener las ventans de los ActivityLoad

In [2]:
import pandas as pd

In [3]:
activity_load = pd.read_csv('../../datasets/first-study/activity_load.csv')
activity_load.head()

   seconds                     date  activity_load_2d  activity_load_3d
0    1.802  2023-04-23 18:10:39.569            0.0683            0.0928
1    2.802  2023-04-23 18:10:40.569            0.0850            0.1123
2    3.802  2023-04-23 18:10:41.569            0.0588            0.0710
3    4.802  2023-04-23 18:10:42.569            0.0267            0.0356
4    5.802  2023-04-23 18:10:43.569            0.0489            0.0677

In [4]:
print(f'Número de registros: {len(activity_load)}')

Número de registros: 10942

Se fijan los valores

In [5]:
window_size = 5
overlap = 0.6

En este caso, se va a utilizar el mismo porcentaje de solapamiento, pero un tamaño de ventana menor. Esto no es por algo trivial, si no por tener algo heterógeneo: el tamaño de ventana del ritmo cardíaco era de 10, recogiendo un total de 10 datos en un lapso de tiempo de 5 segundos, ya que se recogía el heart rate cada 0.5 segundos. En este caso, se recogen los activity load cada 1 segundo, por tanto, en el mismo periodo de tiempo, se recogerán tan solo 5 datos.

Se crea el dataframe en el que se van a guardar las ventanas

Primeramente, se crean las columnas

In [6]:
window = pd.DataFrame()

# Obtención del conjunto de datos

In [7]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_2d'].values])

In [8]:
print(f'Número de registros obtenidos: {len(window)}')

Número de registros obtenidos: 5471

In [9]:
window

         0       1       2       3       4
0   0.0683  0.0850  0.0588  0.0267  0.0489
0   0.0588  0.0267  0.0489  0.0453  0.0633
0   0.0489  0.0453  0.0633  0.0538  0.0725
0   0.0633  0.0538  0.0725  0.0637  0.0904
0   0.0725  0.0637  0.0904  0.1078  0.0950
..     ...     ...     ...     ...     ...
0   0.0783  0.0197  0.0157  0.0492  0.0413
0   0.0157  0.0492  0.0413  0.0434  0.0108
0   0.0413  0.0434  0.0108  0.0074  0.0049
0   0.0108  0.0074  0.0049  0.0039     NaN
0   0.0049  0.0039     NaN     NaN     NaN

[5471 rows x 5 columns]

In [10]:
window.reset_index(inplace=True)

In [11]:
window.drop(['index'],inplace=True,axis=1)

Se reinician los índices y se guardan los ficheros obtenidos

In [13]:
window.head()

        0       1       2       3       4
0  0.0683  0.0850  0.0588  0.0267  0.0489
1  0.0588  0.0267  0.0489  0.0453  0.0633
2  0.0489  0.0453  0.0633  0.0538  0.0725
3  0.0633  0.0538  0.0725  0.0637  0.0904
4  0.0725  0.0637  0.0904  0.1078  0.0950

In [14]:
window.to_csv('../../datasets/activity-study/windows_5_60_al2d.csv')

### ActivityLoad 3D

In [15]:
window = pd.DataFrame()

In [16]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_3d'].values])

In [17]:
window.reset_index(inplace=True)

In [18]:
window.drop(['index'],inplace=True,axis=1)

In [19]:
window

           0       1       2       3       4
0     0.0928  0.1123  0.0710  0.0356  0.0677
1     0.0710  0.0356  0.0677  0.0642  0.0918
2     0.0677  0.0642  0.0918  0.0757  0.0892
3     0.0918  0.0757  0.0892  0.0786  0.1129
4     0.0892  0.0786  0.1129  0.1232  0.1197
...      ...     ...     ...     ...     ...
5466  0.0960  0.0226  0.0189  0.0637  0.0500
5467  0.0189  0.0637  0.0500  0.0504  0.0138
5468  0.0500  0.0504  0.0138  0.0092  0.0060
5469  0.0138  0.0092  0.0060  0.0047     NaN
5470  0.0060  0.0047     NaN     NaN     NaN

[5471 rows x 5 columns]

In [20]:
window.to_csv('../../datasets/activity-study/windows_5_60_al3d.csv')