# Cuaderno que obtiene los tramos y atributos de estos tramos para el sistema borroso

In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = None

In [3]:
PLAY_BY_PLAY_DATASET_FILE_DIR = '../../datasets/play-by-play-study/is_player_on_court.csv'
EVENTS_DATASET_FILE_DIR = '../../datasets/play-by-play-study/events_arrojeria.csv'

In [4]:
play_by_play_dataset = pd.read_csv(PLAY_BY_PLAY_DATASET_FILE_DIR, index_col=0)
play_by_play_dataset

,seconds,is_on_court,event,assist,offense_player,defense_player
0,1.0,0.0,NaN,NaN,NaN,NaN
1,2.0,0.0,NaN,NaN,NaN,NaN
2,3.0,0.0,NaN,NaN,NaN,NaN
3,4.0,0.0,NaN,NaN,NaN,NaN
4,5.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
4864,4865.0,1.0,NaN,NaN,NaN,NaN
4865,4866.0,1.0,NaN,NaN,NaN,NaN
4866,4867.0,1.0,NaN,NaN,NaN,NaN
4867,4868.0,1.0,NaN,NaN,NaN,NaN
-1,NaN,NaN,FIRST_HALF_START,,,

In [5]:
arrojeria_events = pd.read_csv(EVENTS_DATASET_FILE_DIR, index_col=0)
arrojeria_events

,seconds,is_on_court,event,assist,offense_player,defense_player,impact_play
860,861.0,1.0,GOAL,03-E. ARROJERIA,14-M.CAVO,01-N. WIGGINS,1
904,905.0,1.0,GOAL,03-E. ARROJERIA,15-M. ECHEVERRIA,01-N. WIGGINS,1
989,990.0,1.0,LOST_BALL,,03-E. ARROJERIA,,-1
1021,1022.0,1.0,GOAL,03-E. ARROJERIA,42-C.POLONIO,01-N. WIGGINS,1
1132,1133.0,1.0,GOAL,03-E. ARROJERIA,04-M. FERNANDES,01-N. WIGGINS,1
1214,1215.0,0.0,FOUL_RECEIVE,,13-M.BRASIL,03-E. ARROJERIA,0
1313,1314.0,1.0,GOAL,03-E. ARROJERIA,04-M. FERNANDES,01-N. WIGGINS,1
1335,1336.0,1.0,FOUL_RECEIVE,,14-O. VEGUE,03-E. ARROJERIA,0
1365,1366.0,1.0,7M_PROVOKE_SUSPENSION,,03-E. ARROJERIA,28-J.CASTAÑERA,1
1513,1514.0,1.0,FOUL_RECEIVE,,98-M. CAPDEVILA,03-E. ARROJERIA,0
1608,1609.0,1.0,GOAL,,03-E. ARROJERIA,01-N. WIGGINS,1
1623,1624.0,1.0,FOUL_RECEIVE,,09-L.KOFLER,03-E. ARROJERIA,0
1771,1772.0,1.0,FOUL_RECEIVE,,13-M.BRASIL,03-E. ARROJERIA,0
1788,1789.0,1.0,GOAL,,03-E. ARROJERIA,01-N. WIGGINS,1
1863,1864.0,1.0,FOUL_RECEIVE,,03-E. ARROJERIA,23-A.GONZALEZ,1
2666,2667.0,1.0,FOUL_RECEIVE,,23-A.GONZALEZ,03-E. ARROJERIA,0
2771,2772.0,1.0,GOAL,03-E. ARROJERIA,18-E.KARSTEN,01-N. WIGGINS,1
3017,3018.0,1.0,LOST_BALL,,03-E. ARROJERIA,,-1
3090,3091.0,1.0,FOUL_RECEIVE,,98-M. CAPDEVILA,03-E. ARROJERIA,0
3185,3186.0,1.0,LOST_BALL,,03-E. ARROJERIA,,-1
3267,3268.0,1.0,GOAL,03-E. ARROJERIA,13-L.HERNANDEZ,16-M. MERA,1
3313,3314.0,1.0,FOUL_RECEIVE,,17-E.SOMAZA,03-E. ARROJERIA,0
3353,3354.0,1.0,FOUL_RECEIVE,,03-E. ARROJERIA,17-E.SOMAZA,1
4767,4768.0,1.0,LOST_BALL,,03-E. ARROJERIA,,-1

In [6]:
player_name = ' 03-E. ARROJERIA'

Hay que calcular los tramos en los que juega Arrojería

In [7]:
play_sections = {}

In [8]:
is_on_court_last = None
for index, row in play_by_play_dataset.iterrows():
    is_on_court = row['is_on_court']
    if is_on_court_last != is_on_court:
        play_sections[row['seconds']] = is_on_court
    is_on_court_last = is_on_court

In [9]:
play_sections

{1.0: 0.0,
 667.0: 1.0,
 1215.0: 0.0,
 1275.0: 1.0,
 1956.0: 0.0,
 2016.0: 1.0,
 2041.0: 0.0,
 2641.0: 1.0,
 2801.0: 0.0,
 2861.0: 1.0,
 3428.0: 0.0,
 4189.0: 1.0,
 4578.0: 0.0,
 4638.0: 1.0,
 nan: nan}

Tiene un total de 7 tramos de juego:
* del segundo 667 al 1214
* del segundo 1275 al 1955
* del segundo 2016 al 2040
* del segundo 2641 al 2801
* del segundo 2861 al 3428
* del segundo 4189 al 4578
* del segundo 4638 hasta el final

Algunos tramos a lo mejor son muy pequeños

In [10]:
sections = [(667, 1214), (1275, 1955), (2016, 2040), (2641, 2801), (2861, 3428), (4189, 4578), (4368, 4867)]
sections

[(667, 1214),
 (1275, 1955),
 (2016, 2040),
 (2641, 2801),
 (2861, 3428),
 (4189, 4578),
 (4368, 4867)]

In [11]:
new_df = pd.DataFrame({}, columns = ['duration', 'foul_receives', 'fouls', 'lost_balls', 'goals', 'assists', 'shots_failed', '7m_suspensions_provoke', '7m_suspensions', '2_min', 'scoring'])
new_df

Empty DataFrame
Columns: [duration, foul_receives, fouls, lost_balls, goals, assists, shots_failed, 7m_suspensions_provoke, 7m_suspensions, 2_min, scoring]
Index: []

Para cada tramo, se calculará el número de eventos realizados, solo el scroing puede ser negativo

In [12]:
def retrieve_clean_section_attributes():
    return {
    'duration': 0,
    'foul_receives': 0,
    'fouls': 0,
    'lost_balls': 0,
    'goals': 0,
    'assists': 0,
    'shots_failed':0,
    '7m_suspensions_provoke':0,
    '7m_suspensions':0,
    '2_min':0,
    'scoring':0
}

In [13]:
section_attributes = retrieve_clean_section_attributes()
section_attributes

{'duration': 0,
 'foul_receives': 0,
 'fouls': 0,
 'lost_balls': 0,
 'goals': 0,
 'assists': 0,
 'shots_failed': 0,
 '7m_suspensions_provoke': 0,
 '7m_suspensions': 0,
 '2_min': 0,
 'scoring': 0}

Se define un método para obtener los eventos

In [14]:
def retrieve_section_events(section_attributes, event, assist, offense_player, defense_player, scoring_play):
    if event == ' FOUL_RECEIVE' and offense_player == player_name:
        section_attributes['foul_receives'] += 1
    if event == ' FOUL_RECEIVE' and defense_player == player_name:
        section_attributes['fouls'] += 1
    if event == ' LOST_BALL' and offense_player == player_name:
        section_attributes['lost_balls'] += 1
    if assist == player_name:
        section_attributes['assists'] += 1
    if event == ' POST_OUT' or event == ' SAVE' and offense_player == player_name:
        section_attributes['shots_failed'] += 1
    if event == ' GOAL' and offense_player == player_name:
        section_attributes['goals'] += 1
    if event == ' 7M_PROVOKE' and offense_player == player_name:
        section_attributes['7m_suspensions_provoke'] += 1
    if event == ' 7M_PROVOKE_SUSPENSION' and offense_player == player_name:
        section_attributes['7m_suspensions_provoke'] += 1
    if event == ' 7M_PROVOKE_SUSPENSION' and defense_player == player_name:
        section_attributes['7m_suspensions'] += 1
    if event == ' 7M_PROVOKE' and defense_player == player_name:
        section_attributes['7m_suspensions'] += 1
    if event == ' 2_MIN' and offense_player == player_name:
        section_attributes['2_min'] += 1
    
    section_attributes['scoring'] += scoring_play

In [15]:
for section in sections:
    arrojeria_events[(arrojeria_events['seconds'] >= section[0]) & (arrojeria_events['seconds'] <= section[1])]

In [16]:
arrojeria_events[(arrojeria_events['seconds'] >= 667) & (arrojeria_events['seconds'] <= 1214)]

,seconds,is_on_court,event,assist,offense_player,defense_player,impact_play
860,861.0,1.0,GOAL,03-E. ARROJERIA,14-M.CAVO,01-N. WIGGINS,1
904,905.0,1.0,GOAL,03-E. ARROJERIA,15-M. ECHEVERRIA,01-N. WIGGINS,1
989,990.0,1.0,LOST_BALL,,03-E. ARROJERIA,,-1
1021,1022.0,1.0,GOAL,03-E. ARROJERIA,42-C.POLONIO,01-N. WIGGINS,1
1132,1133.0,1.0,GOAL,03-E. ARROJERIA,04-M. FERNANDES,01-N. WIGGINS,1

In [17]:
for section in sections:
    section_attributes = retrieve_clean_section_attributes()
    section_attributes['duration']=section[1]-section[0]
    for index, row in arrojeria_events[(arrojeria_events['seconds'] >= section[0]) & (arrojeria_events['seconds'] <= section[1])].iterrows():

        retrieve_section_events(section_attributes, row['event'], row['assist'], row['offense_player'], row['defense_player'], row['impact_play'])
    new_df = new_df.append(section_attributes,ignore_index=True)

Como se puede ver en el dataset, se tiene por cada registro el tramo de juego, con la duración en segundos y cada evento que realiza, junto al scoring final del tramo.

In [18]:
new_df

,duration,foul_receives,fouls,lost_balls,goals,assists,shots_failed,7m_suspensions_provoke,7m_suspensions,2_min,scoring
0,547,0,0,1,0,4,0,0,0,0,3
1,680,1,4,0,2,1,0,1,0,0,5
2,24,0,0,0,0,0,0,0,0,0,0
3,160,0,1,0,0,1,0,0,0,0,1
4,567,1,2,2,0,1,0,0,0,0,0
5,389,0,0,0,0,0,0,0,0,0,0
6,499,0,0,1,0,0,0,0,0,0,-1

Ahora hay que obtener la información de los clusters, para este caso se va a calcular el porcentaje de tiempo que se encuentra en cada grupo durante ese sector de juego.

In [19]:
hr_window = pd.read_csv('../../datasets/hr-study/windows_10_50_k_4.csv',index_col=0)

In [20]:
hr_window.head()

      0     1     2     3     4     5     6     7     8     9  cluster
0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  76.0  76.0        1
0  75.0  75.0  75.0  76.0  76.0  77.0  77.0  77.0  77.0  77.0        1
0  77.0  77.0  77.0  77.0  77.0  77.0  77.0  78.0  78.0  78.0        1
0  77.0  77.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0        1
0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0        1

In [21]:
hr_window.iloc[0]

0          75.0
1          75.0
2          75.0
3          75.0
4          75.0
5          75.0
6          75.0
7          75.0
8          76.0
9          76.0
cluster     1.0
Name: 0, dtype: float64

In [22]:
def retrieve_clean_section_attributes_clustering():
    return {
    'hr_low_percentage': 0,     
    'hr_medium_percentage': 0,
    'hr_high_percentage': 0,
    'hr_max_percentage': 0
}

In [23]:
window = 10 * 50/100

In [24]:
window

5.0

In [25]:
clusters_dict = {
    1: 'low',
    2: 'medium',
    3: 'high',
    4: 'max'
}

In [26]:
for key in retrieve_clean_section_attributes_clustering().keys():
    new_df[key] = ''

Se crean las columnas de las etiquetas de los clusters

In [27]:
new_df

,duration,foul_receives,fouls,lost_balls,goals,assists,shots_failed,7m_suspensions_provoke,7m_suspensions,2_min,scoring,hr_low_percentage,hr_medium_percentage,hr_high_percentage,hr_max_percentage
0,547,0,0,1,0,4,0,0,0,0,3,,,,
1,680,1,4,0,2,1,0,1,0,0,5,,,,
2,24,0,0,0,0,0,0,0,0,0,0,,,,
3,160,0,1,0,0,1,0,0,0,0,1,,,,
4,567,1,2,2,0,1,0,0,0,0,0,,,,
5,389,0,0,0,0,0,0,0,0,0,0,,,,
6,499,0,0,1,0,0,0,0,0,0,-1,,,,

Se define el inicio del partido

In [28]:
match_start = 3262

In [29]:
section = sections[0]

In [30]:
clusters = hr_window.iloc[round((section[0] + match_start)/2.5):round((section[1]+match_start)/2.5)].groupby('cluster').describe()['0']['count']

In [31]:
clusters

cluster
3      6.0
4    212.0
Name: count, dtype: float64

In [32]:
count = 0
cluster_map = {
    1: 0,
    2: 0,
    3: 0,
    4: 0
}
for index,value in clusters.iteritems():
    count += value
    cluster_map[index] = value
    print(index,value)

3 6.0
4 212.0

In [33]:
for index in cluster_map:
    print(round(cluster_map[index]/count * 100, 2))

0.0
0.0
2.75
97.25

Lo que se va haciendo es crear un diccionario con los cuatro valores de las etiquetas, y se va sumando incrementando en uno el valor de la etiqueta por cada registro del conjunto de datos que se encuentre en el windowing. Mientras, se va guardando el número total de clusters analizados y se divide el número de clusters en ese registro por el número total, calculando así el porcentaje.

In [40]:
count = 0
for section in sections:
    section_attributes = retrieve_clean_section_attributes_clustering()
    clusters = hr_window.iloc[round((section[0] + match_start)/2.5):round((section[1]+match_start)/2.5)].groupby('cluster').describe()['0']['count']
    clusters_count = 0
    cluster_map = {
        1: 0,
        2: 0,
        3: 0,
        4: 0
    }
    for index,value in clusters.iteritems():
        clusters_count += value
        cluster_map[index] = value
        
    for index in cluster_map:
        label = clusters_dict[index]
        section_attributes[f'hr_{label}_percentage'] = round(cluster_map[index]/clusters_count * 100, 2)
        
    new_df.at[count, 'hr_low_percentage'] = section_attributes['hr_low_percentage']
    new_df.at[count, 'hr_medium_percentage'] = section_attributes['hr_medium_percentage']
    new_df.at[count, 'hr_high_percentage'] = section_attributes['hr_high_percentage']
    new_df.at[count, 'hr_max_percentage'] = section_attributes['hr_max_percentage']
    count+=1

In [41]:
new_df

,duration,foul_receives,fouls,lost_balls,goals,assists,shots_failed,7m_suspensions_provoke,7m_suspensions,2_min,scoring,hr_low_percentage,hr_medium_percentage,hr_high_percentage,hr_max_percentage,al_low_percentage,al_medium_percentage,al_high_percentage,al_max_percentage
0,547,0,0,1,0,4,0,0,0,0,3,0.0,0.0,2.75,97.25,68.81,18.35,5.05,7.80
1,680,1,4,0,2,1,0,1,0,0,5,0.0,0.0,12.87,87.13,43.75,16.54,31.25,8.46
2,24,0,0,0,0,0,0,0,0,0,0,0.0,0.0,100.0,0.0,10.00,60.00,30.00,0.00
3,160,0,1,0,0,1,0,0,0,0,1,0.0,0.0,100.0,0.0,9.38,17.19,50.00,23.44
4,567,1,2,2,0,1,0,0,0,0,0,0.0,11.89,45.37,42.73,31.28,18.50,31.28,18.94
5,389,0,0,0,0,0,0,0,0,0,0,0.0,100.0,0.0,0.0,44.87,25.64,21.15,8.33
6,499,0,0,1,0,0,0,0,0,0,-1,0.0,93.0,7.0,0.0,25.50,21.00,39.50,14.00

Se repite lo mismo pero con la actividad

In [36]:
activity_load = pd.read_csv('../../datasets/activity-study/windows_5_60_al3d_k_4.csv',index_col=0)

In [37]:
activity_load

         0       1       2       3       4  cluster
0   0.0928  0.1123  0.0710  0.0356  0.0677        3
0   0.0710  0.0356  0.0677  0.0642  0.0918        3
0   0.0677  0.0642  0.0918  0.0757  0.0892        3
0   0.0918  0.0757  0.0892  0.0786  0.1129        3
0   0.0892  0.0786  0.1129  0.1232  0.1197        3
..     ...     ...     ...     ...     ...      ...
0   0.0977  0.0992  0.0596  0.0878  0.0960        3
0   0.0596  0.0878  0.0960  0.0226  0.0189        3
0   0.0960  0.0226  0.0189  0.0637  0.0500        3
0   0.0189  0.0637  0.0500  0.0504  0.0138        3
0   0.0500  0.0504  0.0138  0.0092  0.0060        3

[5469 rows x 6 columns]

In [41]:
def retrieve_clean_section_attributes_clustering_al():
    return {
    'al_low_percentage': 0,     
    'al_medium_percentage': 0,
    'al_high_percentage': 0,
    'al_max_percentage': 0,
}

In [42]:
for key in retrieve_clean_section_attributes_clustering_al().keys():
    new_df[key] = ''

In [38]:
count = 0
for section in sections:
    section_attributes = retrieve_clean_section_attributes_clustering()
    clusters = activity_load.iloc[round((section[0] + match_start)/2.5):round((section[1]+match_start)/2.5)].groupby('cluster').describe()['0']['count']
    clusters_count = 0
    cluster_map = {
        1: 0,
        2: 0,
        3: 0,
        4: 0
    }
    for index,value in clusters.iteritems():
        clusters_count += value
        cluster_map[index] = value
        
    for index in cluster_map:
        label = clusters_dict[index]
        section_attributes[f'al_{label}_percentage'] = round(cluster_map[index]/clusters_count * 100, 2)
        
    new_df.at[count, 'al_low_percentage'] = section_attributes['al_low_percentage']
    new_df.at[count, 'al_medium_percentage'] = section_attributes['al_medium_percentage']
    new_df.at[count, 'al_high_percentage'] = section_attributes['al_high_percentage']
    new_df.at[count, 'al_max_percentage'] = section_attributes['al_max_percentage']
    count+=1

In [39]:
new_df

,duration,foul_receives,fouls,lost_balls,goals,assists,shots_failed,7m_suspensions_provoke,7m_suspensions,2_min,scoring,hr_low_percentage,hr_medium_percentage,hr_high_percentage,hr_max_percentage,al_low_percentage,al_medium_percentage,al_high_percentage,al_max_percentage
0,547,0,0,1,0,4,0,0,0,0,3,0.0,70.64,29.36,0.0,68.81,18.35,5.05,7.80
1,680,1,4,0,2,1,0,1,0,0,5,0.0,100.0,0.0,0.0,43.75,16.54,31.25,8.46
2,24,0,0,0,0,0,0,0,0,0,0,0.0,100.0,0.0,0.0,10.00,60.00,30.00,0.00
3,160,0,1,0,0,1,0,0,0,0,1,0.0,100.0,0.0,0.0,9.38,17.19,50.00,23.44
4,567,1,2,2,0,1,0,0,0,0,0,0.0,95.58,4.42,0.0,31.28,18.50,31.28,18.94
5,389,0,0,0,0,0,0,0,0,0,0,51.28,10.26,7.69,30.77,44.87,25.64,21.15,8.33
6,499,0,0,1,0,0,0,0,0,0,-1,4.0,8.0,6.0,82.0,25.50,21.00,39.50,14.00

Se guarda el nuevo conjunto de datos con la nueva información.

In [42]:
new_df.to_csv('../../datasets/fuzzy-study/arrojeria_section_events.csv')

In [43]:
new_df

,duration,foul_receives,fouls,lost_balls,goals,assists,shots_failed,7m_suspensions_provoke,7m_suspensions,2_min,scoring,hr_low_percentage,hr_medium_percentage,hr_high_percentage,hr_max_percentage,al_low_percentage,al_medium_percentage,al_high_percentage,al_max_percentage
0,547,0,0,1,0,4,0,0,0,0,3,0.0,0.0,2.75,97.25,68.81,18.35,5.05,7.80
1,680,1,4,0,2,1,0,1,0,0,5,0.0,0.0,12.87,87.13,43.75,16.54,31.25,8.46
2,24,0,0,0,0,0,0,0,0,0,0,0.0,0.0,100.0,0.0,10.00,60.00,30.00,0.00
3,160,0,1,0,0,1,0,0,0,0,1,0.0,0.0,100.0,0.0,9.38,17.19,50.00,23.44
4,567,1,2,2,0,1,0,0,0,0,0,0.0,11.89,45.37,42.73,31.28,18.50,31.28,18.94
5,389,0,0,0,0,0,0,0,0,0,0,0.0,100.0,0.0,0.0,44.87,25.64,21.15,8.33
6,499,0,0,1,0,0,0,0,0,0,-1,0.0,93.0,7.0,0.0,25.50,21.00,39.50,14.00