In [1]:
import pandas as pd

In [2]:
ORIGINAL_DATA_FILE_DIR = '../../../../datasets/original-data/Exported Data_202309091817_Arrojeria, Esther.csv'

Las primeras 6 filas es información de la captura de datos

In [3]:
with open(ORIGINAL_DATA_FILE_DIR, 'r') as file:
    # Lee todas las líneas del archivo en una lista
    lines = file.readlines()

In [4]:
lines[:4]

['\ufeffExported Sensor Data, Version 2\n',
 'Start Time: ,[2023-09-09 20:17:52 962],Arrojeria  Esther\n',
 '\n',
 '\n']

In [5]:
skip_rows = 4

Inicio de la captura, nombre de la jugadora, tipo, nombre, inicio y fin

In [6]:
player_name = 'arrojeria_esther'

In [7]:
record_date = '20230909'

In [8]:
df = pd.read_csv(ORIGINAL_DATA_FILE_DIR,skiprows=skip_rows)
df.head()

,Seconds from Start,Date Time,Speed (km/h),HR (bpm),Core Temperature °C,X accelerometer (Sideways),Y accelerometer (Forward),Z accelerometer (Vertical),Raw RR (ms),Filtered RR (ms),Difference,HR RMSSD,ActivityLoad 2D,ActivityLoad 3D
0,"1,052",[2023-09-09 20:17:54 014],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,073",[2023-09-09 20:17:54 035],NaN,NaN,NaN,0,"-9,8","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN
2,"1,083",[2023-09-09 20:17:54 045],NaN,NaN,NaN,0,"-9,8","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN
3,"1,093",[2023-09-09 20:17:54 055],NaN,NaN,NaN,0,"-9,8","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN
4,"1,103",[2023-09-09 20:17:54 065],NaN,NaN,NaN,0,"-9,8","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN

Debemos obtener la información relevante:
* Seconds from Start
* Date Time
* HR (bpm)
* ActivityLoad 2D
* ActivityLoad 3D

In [9]:
hr = df[~df['HR (bpm)'].isnull()][['Seconds from Start', 'Date Time', 'HR (bpm)']]
hr

        Seconds from Start                  Date Time  HR (bpm)
8681                79,952  [2023-09-09 20:19:12 914]      80.0
8736                80,452  [2023-09-09 20:19:13 414]      80.0
8791                80,952  [2023-09-09 20:19:13 914]      80.0
8845                81,452  [2023-09-09 20:19:14 414]      81.0
8902                81,952  [2023-09-09 20:19:14 914]      81.0
...                    ...                        ...       ...
1174142          10336,200  [2023-09-09 23:10:09 162]      99.0
1174198          10336,700  [2023-09-09 23:10:09 662]      98.0
1174254          10337,200  [2023-09-09 23:10:10 162]      98.0
1174311          10337,700  [2023-09-09 23:10:10 662]      98.0
1174367          10338,200  [2023-09-09 23:10:11 162]      98.0

[19953 rows x 3 columns]

Se cambia el nombre de las variables

In [10]:
hr.columns = ['seconds', 'date', 'hr']

In [11]:
hr.columns

Index(['seconds', 'date', 'hr'], dtype='object')

Se guarda el conjunto de datos resultante

In [12]:
FILE_NAME = f'{player_name}_hr.csv'
print(FILE_NAME)

arrojeria_esther_hr.csv

In [13]:
hr.to_csv(f'../../../../datasets/study-players/{record_date}/{FILE_NAME}')

Ahora hay que obtener la carga de actividad

In [14]:
activity = df[~df['ActivityLoad 2D'].isnull() & ~df['ActivityLoad 3D'].isnull()][['Seconds from Start', 'Date Time', 'ActivityLoad 2D', 'ActivityLoad 3D']]
activity

,Seconds from Start,Date Time,ActivityLoad 2D,ActivityLoad 3D
74,"1,772",[2023-09-09 20:17:54 734],"0,0053","0,0057"
185,"2,772",[2023-09-09 20:17:55 734],"0,0029","0,0032"
296,"3,772",[2023-09-09 20:17:56 734],"0,0061","0,0065"
407,"4,772",[2023-09-09 20:17:57 734],"0,0043","0,0046"
514,"5,772",[2023-09-09 20:17:58 734],"0,0022","0,0025"
...,...,...,...,...
1176749,"10359,796",[2023-09-09 23:10:32 758],"0,0454","0,0583"
1176860,"10360,796",[2023-09-09 23:10:33 758],"0,0448","0,0549"
1176970,"10361,796",[2023-09-09 23:10:34 758],"0,0322","0,0376"
1177078,"10362,796",[2023-09-09 23:10:35 758],"0,0161","0,0212"
1177189,"10363,796",[2023-09-09 23:10:36 758],"0,013","0,0155"

Se cambia el nombre de las variables

In [15]:
activity.columns = ['seconds', 'date', 'activity_load_2d','activity_load_3d']

In [16]:
activity.columns

Index(['seconds', 'date', 'activity_load_2d', 'activity_load_3d'], dtype='object')

Se guarda el conjunto de datos resultante

In [17]:
FILE_NAME = f'{player_name}_activity_load.csv'
print(FILE_NAME)

arrojeria_esther_activity_load.csv

In [18]:
activity.to_csv(f'../../../../datasets/study-players/{record_date}/{FILE_NAME}')