In [1]:
import pandas as pd

In [2]:
record_date = '20230909'

In [3]:
player_name = 'arrojeria_esther'

In [4]:
PLAYER_HR_FILE_DIR = f'../../../../datasets/study-players/{record_date}/{player_name}_hr_without_gaps.csv'
PLAYER_ACTIVITY_FILE_DIR = f'../../../../datasets/study-players/{record_date}/{player_name}_activity_load.csv'

In [5]:
hr = pd.read_csv(PLAYER_HR_FILE_DIR,index_col=0)
activity_load = pd.read_csv(PLAYER_ACTIVITY_FILE_DIR,index_col=0)

In [6]:
hr.head()

   seconds                       date    hr  diff
0   79.952  [2023-09-09 20:19:12 914]  80.0   NaN
1   80.452  [2023-09-09 20:19:13 414]  80.0   0.5
2   80.952  [2023-09-09 20:19:13 914]  80.0   0.5
3   81.452  [2023-09-09 20:19:14 414]  81.0   0.5
4   81.952  [2023-09-09 20:19:14 914]  81.0   0.5

In [7]:
activity_load.head()

     seconds                       date  activity_load_2d  activity_load_3d
74     1.772  [2023-09-09 20:17:54 734]            0.0053            0.0057
185    2.772  [2023-09-09 20:17:55 734]            0.0029            0.0032
296    3.772  [2023-09-09 20:17:56 734]            0.0061            0.0065
407    4.772  [2023-09-09 20:17:57 734]            0.0043            0.0046
514    5.772  [2023-09-09 20:17:58 734]            0.0022            0.0025

### OBTENCIÓN DE VENTANAS DE HR

In [8]:
print(f'Número de registros: {len(hr)}')

Número de registros: 20489

Se fijan los valores para la obtención de ventanas

In [9]:
window_size = 10
overlap = 0.5

Se crea el dataframe en el que se van a guardar las ventanas

In [10]:
window = pd.DataFrame()

Se coge cada registro con un intervalo del tamaño de la ventana multiplicado por el solapamiento

In [11]:
for i in range(0,len(hr), int(window_size*(1-overlap))):
    window = window.append([hr.iloc[i:i+window_size]['hr'].values])

In [12]:
window

        0      1      2      3      4      5      6      7      8      9
0    80.0   80.0   80.0   81.0   81.0   82.0   82.0   83.0   83.0   84.0
0    82.0   82.0   83.0   83.0   84.0   84.0   85.0   86.0   88.0   89.0
0    84.0   85.0   86.0   88.0   89.0   90.0   90.0   91.0   91.0   92.0
0    90.0   90.0   91.0   91.0   92.0   92.0   92.0   91.0   91.0   92.0
0    92.0   92.0   91.0   91.0   92.0   92.0   92.0   93.0   94.0   96.0
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
0   100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0
0   100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0
0   100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0   99.0
0   100.0  100.0  100.0  100.0   99.0   99.0   98.0   98.0   98.0    NaN
0    99.0   98.0   98.0   98.0    NaN    NaN    NaN    NaN    NaN    NaN

[4098 rows x 10 columns]

In [13]:
window.to_csv(f'../../../../datasets/study-players/{record_date}/clustering/{player_name}_hr_windows_10_50.csv')

### OBTENCIÓN DE VENTANAS DE ACTIVITYLOAD

In [14]:
print(f'Número de registros: {len(activity_load)}')

Número de registros: 10335

Se fijan los valores

In [15]:
window_size = 5
overlap = 0.6

En este caso, se va a utilizar el mismo porcentaje de solapamiento, pero un tamaño de ventana menor. Esto no es por algo trivial, si no por tener algo heterógeneo: el tamaño de ventana del ritmo cardíaco era de 10, recogiendo un total de 10 datos en un lapso de tiempo de 5 segundos, ya que se recogía el heart rate cada 0.5 segundos. En este caso, se recogen los activity load cada 1 segundo, por tanto, en el mismo periodo de tiempo, se recogerán tan solo 5 datos.

Se crea el dataframe en el que se van a guardar las ventanas

In [16]:
window = pd.DataFrame()

Primero con ActivityLoad 2D

In [17]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_2d'].values])

In [18]:
window

         0       1       2       3       4
0   0.0053  0.0029  0.0061  0.0043  0.0022
0   0.0061  0.0043  0.0022  0.0036  0.0020
0   0.0022  0.0036  0.0020  0.0022  0.0033
0   0.0020  0.0022  0.0033  0.0039  0.0018
0   0.0033  0.0039  0.0018  0.0020  0.0022
..     ...     ...     ...     ...     ...
0   0.0392  0.0206  0.0140  0.0210  0.0454
0   0.0140  0.0210  0.0454  0.0448  0.0322
0   0.0454  0.0448  0.0322  0.0161  0.0130
0   0.0322  0.0161  0.0130     NaN     NaN
0   0.0130     NaN     NaN     NaN     NaN

[5168 rows x 5 columns]

In [19]:
window.to_csv(f'../../../../datasets/study-players/{record_date}/clustering/{player_name}_al2d_windows_10_60.csv')

Después con ActivityLoad 3D

In [20]:
window = pd.DataFrame()

In [21]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_3d'].values])

In [22]:
window

         0       1       2       3       4
0   0.0057  0.0032  0.0065  0.0046  0.0025
0   0.0065  0.0046  0.0025  0.0039  0.0024
0   0.0025  0.0039  0.0024  0.0025  0.0037
0   0.0024  0.0025  0.0037  0.0042  0.0021
0   0.0037  0.0042  0.0021  0.0024  0.0026
..     ...     ...     ...     ...     ...
0   0.0517  0.0294  0.0179  0.0255  0.0583
0   0.0179  0.0255  0.0583  0.0549  0.0376
0   0.0583  0.0549  0.0376  0.0212  0.0155
0   0.0376  0.0212  0.0155     NaN     NaN
0   0.0155     NaN     NaN     NaN     NaN

[5168 rows x 5 columns]

In [23]:
window.to_csv(f'../../../../datasets/study-players/{record_date}/clustering/{player_name}_al3d_windows_10_60.csv')