# Cuaderno que se encarga de obtener las ventanas de HR

In [1]:
import pandas as pd

In [2]:
hr = pd.read_csv('../../datasets/hr-study/hr_without_gaps.csv',index_col=0)
hr.head()

   seconds                     date    hr  diff  gap
0  126.304  2023-04-23 18:10:38.770  75.0   NaN  0.0
1  126.804  2023-04-23 18:10:38.770  75.0   0.5  0.0
2  127.304  2023-04-23 18:10:38.770  75.0   0.5  0.0
3  127.804  2023-04-23 18:10:38.770  75.0   0.5  0.0
4  128.304  2023-04-23 18:10:38.770  75.0   0.5  0.0

In [3]:
print(f'Número de registros: {len(hr)}')

Número de registros: 21689

Se fijan los valores

In [4]:
window_size = 10
overlap = 0.5

Se crea el dataframe en el que se van a guardar las ventanas

Primeramente, se crean las columnas

In [5]:
window = pd.DataFrame()

Primeramente se hace una prueba de concepto

Sin solapar

In [6]:
for i in range(0,20, window_size):
    window = window.append([hr.iloc[i:i+window_size]['hr'].values])

In [7]:
window

      0     1     2     3     4     5     6     7     8     9
0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  76.0  76.0
0  77.0  77.0  77.0  77.0  77.0  77.0  77.0  78.0  78.0  78.0

Con solapación

In [8]:
window = pd.DataFrame()

In [9]:
for i in range(0,20, int(window_size*(1-overlap))):
    window = window.append([hr.iloc[i:i+window_size]['hr'].values])

In [13]:
window.reset_index(inplace=True)

In [14]:
window

   index     0     1     2     3     4     5     6     7     8     9
0      0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  76.0  76.0
1      0  75.0  75.0  75.0  76.0  76.0  77.0  77.0  77.0  77.0  77.0
2      0  77.0  77.0  77.0  77.0  77.0  77.0  77.0  78.0  78.0  78.0
3      0  77.0  77.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0

# Obtención del conjunto de datos

In [29]:
window_size = 10
overlap = 0.5

Con un tamaño 10, se recogen periodos de 5 segundos.

In [30]:
window = pd.DataFrame()

In [31]:
for i in range(0,len(hr), int(window_size*(1-overlap))):
    window = window.append([hr.iloc[i:i+window_size]['hr'].values])

In [33]:
window

       0     1     2     3     4     5     6     7     8     9
0   75.0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  76.0  76.0
0   75.0  75.0  75.0  76.0  76.0  77.0  77.0  77.0  77.0  77.0
0   77.0  77.0  77.0  77.0  77.0  77.0  77.0  78.0  78.0  78.0
0   77.0  77.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0
0   78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
0   96.0  96.0  95.0  95.0  95.0  95.0  95.0  95.0  96.0  96.0
0   95.0  95.0  95.0  96.0  96.0  96.0  96.0  96.0  96.0  96.0
0   96.0  96.0  96.0  96.0  96.0  96.0  96.0  96.0  96.0  96.0
0   96.0  96.0  96.0  96.0  96.0  96.0  96.0  96.0  96.0   NaN
0   96.0  96.0  96.0  96.0   NaN   NaN   NaN   NaN   NaN   NaN

[4338 rows x 10 columns]

In [35]:
window.reset_index(inplace=True)

In [37]:
window.drop(['index'],inplace=True,axis=1)

Se reinician los índices y se guarda el conjunto de datos

In [38]:
window.head()

      0     1     2     3     4     5     6     7     8     9
0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  75.0  76.0  76.0
1  75.0  75.0  75.0  76.0  76.0  77.0  77.0  77.0  77.0  77.0
2  77.0  77.0  77.0  77.0  77.0  77.0  77.0  78.0  78.0  78.0
3  77.0  77.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0
4  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0

In [39]:
window.to_csv('../../datasets/hr-study/windows_10_50.csv')

In [ ]:
window