In [1]:
import pandas as pd

In [5]:
ORIGINAL_DATA_FILE_DIR = '../../datasets/original-data/Exported Data_202304231610_Erauskin, Anne.csv'

Las primeras 6 filas es información de la captura de datos

In [6]:
with open(ORIGINAL_DATA_FILE_DIR, 'r') as file:
    # Lee todas las líneas del archivo en una lista
    lines = file.readlines()

In [7]:
lines[:6]

['\ufeffExported Sensor Data, Version 2\n',
 'Start Time: ,[2023-04-23 18:10:14 249],Erauskin  Anne\n',
 '\n',
 'Type,Name,Start Time,End Time\n',
 'Trim,Session,[2023-04-23 18:20:00 000],[2023-04-23 20:30:38 360]\n',
 '\n']

Inicio de la captura, nombre de la jugadora, tipo, nombre, inicio y fin

In [8]:
player_name = 'euraskin_anne'

In [9]:
record_date = '20230423'

In [10]:
df = pd.read_csv(ORIGINAL_DATA_FILE_DIR,skiprows=6)
df.head()

/home/jvillamor10/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (4,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Seconds from Start,Date Time,Speed (km/h),HR (bpm),Core Temperature °C,X accelerometer (Sideways),Y accelerometer (Forward),Z accelerometer (Vertical),Raw RR (ms),Filtered RR (ms),Difference,HR RMSSD,ActivityLoad 2D,ActivityLoad 3D
0,"0,602",[2023-04-23 18:10:14 851],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"0,668",[2023-04-23 18:10:14 917],NaN,NaN,NaN,"-4,5938","8,575","-9,1975",NaN,NaN,NaN,NaN,NaN,NaN
2,"0,678",[2023-04-23 18:10:14 927],NaN,NaN,NaN,"-5,0531","9,6469","-9,3506",NaN,NaN,NaN,NaN,NaN,NaN
3,"0,688",[2023-04-23 18:10:14 937],NaN,NaN,NaN,"-3,675","9,3406","-9,6569",NaN,NaN,NaN,NaN,NaN,NaN
4,"0,697",[2023-04-23 18:10:14 946],NaN,NaN,NaN,"-2,7563","9,1875","-10,2694",NaN,NaN,NaN,NaN,NaN,NaN

Debemos obtener la información relevante:
* Seconds from Start
* Date Time
* HR (bpm)
* ActivityLoad 2D
* ActivityLoad 3D

In [11]:
hr = df[~df['HR (bpm)'].isnull()][['Seconds from Start', 'Date Time', 'HR (bpm)']]
hr

        Seconds from Start                  Date Time  HR (bpm)
114586            1045,302  [2023-04-23 18:27:39 551]      75.0
114646            1045,802  [2023-04-23 18:27:40 051]      75.0
114703            1046,302  [2023-04-23 18:27:40 551]      75.0
114761            1046,802  [2023-04-23 18:27:41 051]      75.0
114817            1047,302  [2023-04-23 18:27:41 551]      77.0
...                    ...                        ...       ...
1202682          10651,802  [2023-04-23 21:07:46 051]      84.0
1202739          10652,302  [2023-04-23 21:07:46 551]      84.0
1202797          10652,802  [2023-04-23 21:07:47 051]      84.0
1202852          10653,302  [2023-04-23 21:07:47 551]      84.0
1202909          10653,802  [2023-04-23 21:07:48 051]      84.0

[18165 rows x 3 columns]

Se cambia el nombre de las variables

In [12]:
hr.columns = ['seconds', 'date', 'hr']

In [13]:
hr.columns

Index(['seconds', 'date', 'hr'], dtype='object')

Se guarda el conjunto de datos resultante

In [14]:
FILE_NAME = f'{player_name}_hr.csv'
print(FILE_NAME)

euraskin_anne_hr.csv

In [15]:
hr.to_csv(f'../../datasets/study-players/{record_date}/{FILE_NAME}')

Ahora hay que obtener la carga de actividad

In [16]:
activity = df[~df['ActivityLoad 2D'].isnull() & ~df['ActivityLoad 3D'].isnull()][['Seconds from Start', 'Date Time', 'ActivityLoad 2D', 'ActivityLoad 3D']]
activity

,Seconds from Start,Date Time,ActivityLoad 2D,ActivityLoad 3D
116,"1,709",[2023-04-23 18:10:15 958],"0,0447","0,0566"
225,"2,709",[2023-04-23 18:10:16 958],"0,0353","0,0427"
336,"3,709",[2023-04-23 18:10:17 958],"0,0433","0,0543"
446,"4,709",[2023-04-23 18:10:18 958],"0,0393","0,0495"
553,"5,709",[2023-04-23 18:10:19 958],"0,0253","0,0335"
...,...,...,...,...
1202568,"10650,791",[2023-04-23 21:07:45 040],"0,0821","0,1057"
1202680,"10651,791",[2023-04-23 21:07:46 040],"0,0603","0,0747"
1202795,"10652,791",[2023-04-23 21:07:47 040],"0,0257","0,0315"
1202907,"10653,791",[2023-04-23 21:07:48 040],"0,015","0,0167"
1203014,"10654,791",[2023-04-23 21:07:49 040],"0,0134","0,0149"

Se cambia el nombre de las variables

In [17]:
activity.columns = ['seconds', 'date', 'activity_load_2d','activity_load_3d']

In [18]:
activity.columns

Index(['seconds', 'date', 'activity_load_2d', 'activity_load_3d'], dtype='object')

Se guarda el conjunto de datos resultante

In [19]:
FILE_NAME = f'{player_name}_activity_load.csv'
print(FILE_NAME)

euraskin_anne_activity_load.csv

In [20]:
activity.to_csv(f'../../datasets/study-players/{record_date}/{FILE_NAME}')