In [1]:
import pandas as pd

In [2]:
record_date = '20230423'

In [6]:
player_name = 'erauskin_anne'

In [7]:
PLAYER_HR_FILE_DIR = f'../../datasets/study-players/{record_date}/{player_name}_hr_without_gaps.csv'
PLAYER_ACTIVITY_FILE_DIR = f'../../datasets/study-players/{record_date}/{player_name}_activity_load.csv'

In [8]:
hr = pd.read_csv(PLAYER_HR_FILE_DIR,index_col=0)
activity_load = pd.read_csv(PLAYER_ACTIVITY_FILE_DIR,index_col=0)

In [9]:
hr.head()

    seconds                       date    hr  diff
0  1045.302  [2023-04-23 18:27:39 551]  75.0   NaN
1  1045.802  [2023-04-23 18:27:40 051]  75.0   0.5
2  1046.302  [2023-04-23 18:27:40 551]  75.0   0.5
3  1046.802  [2023-04-23 18:27:41 051]  75.0   0.5
4  1047.302  [2023-04-23 18:27:41 551]  77.0   0.5

In [10]:
activity_load.head()

     seconds                       date  activity_load_2d  activity_load_3d
116    1.709  [2023-04-23 18:10:15 958]            0.0447            0.0566
225    2.709  [2023-04-23 18:10:16 958]            0.0353            0.0427
336    3.709  [2023-04-23 18:10:17 958]            0.0433            0.0543
446    4.709  [2023-04-23 18:10:18 958]            0.0393            0.0495
553    5.709  [2023-04-23 18:10:19 958]            0.0253            0.0335

### OBTENCIÓN DE VENTANAS DE HR

In [11]:
print(f'Número de registros: {len(hr)}')

Número de registros: 19217

Se fijan los valores para la obtención de ventanas

In [12]:
window_size = 10
overlap = 0.5

Se crea el dataframe en el que se van a guardar las ventanas

In [13]:
window = pd.DataFrame()

Se coge cada registro con un intervalo del tamaño de la ventana multiplicado por el solapamiento

In [14]:
for i in range(0,len(hr), int(window_size*(1-overlap))):
    window = window.append([hr.iloc[i:i+window_size]['hr'].values])

In [15]:
window

       0     1     2     3     4     5     6     7      8      9
0   75.0  75.0  75.0  75.0  77.0  79.0  87.0  89.5   89.5   89.5
0   79.0  87.0  89.5  89.5  89.5  89.5  89.5  89.5   89.5   89.5
0   89.5  89.5  89.5  89.5  89.5  89.5  92.0  95.5   95.5   95.5
0   89.5  92.0  95.5  95.5  95.5  95.5  95.5  95.5   99.0   99.5
0   95.5  95.5  95.5  99.0  99.5  99.5  99.5  99.5  100.0  100.0
..   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...
0   81.0  81.0  82.0  83.0  83.0  84.0  84.0  84.0   83.0   83.0
0   84.0  84.0  84.0  83.0  83.0  82.0  83.0  83.0   84.0   84.0
0   82.0  83.0  83.0  84.0  84.0  84.0  84.0  84.0   84.0   84.0
0   84.0  84.0  84.0  84.0  84.0  84.0  84.0   NaN    NaN    NaN
0   84.0  84.0   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN

[3844 rows x 10 columns]

In [17]:
window.to_csv(f'../../datasets/study-players/{record_date}/clustering/{player_name}_hr_windows_10_50.csv')

### OBTENCIÓN DE VENTANAS DE ACTIVITYLOAD

In [28]:
print(f'Número de registros: {len(activity_load)}')

Número de registros: 10626

Se fijan los valores

In [29]:
window_size = 5
overlap = 0.6

En este caso, se va a utilizar el mismo porcentaje de solapamiento, pero un tamaño de ventana menor. Esto no es por algo trivial, si no por tener algo heterógeneo: el tamaño de ventana del ritmo cardíaco era de 10, recogiendo un total de 10 datos en un lapso de tiempo de 5 segundos, ya que se recogía el heart rate cada 0.5 segundos. En este caso, se recogen los activity load cada 1 segundo, por tanto, en el mismo periodo de tiempo, se recogerán tan solo 5 datos.

Se crea el dataframe en el que se van a guardar las ventanas

In [30]:
window = pd.DataFrame()

Primero con ActivityLoad 2D

In [31]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_2d'].values])

In [32]:
window

         0       1       2       3       4
0   0.0447  0.0353  0.0433  0.0393  0.0253
0   0.0433  0.0393  0.0253  0.0255  0.0272
0   0.0253  0.0255  0.0272  0.0537  0.0103
0   0.0272  0.0537  0.0103  0.0048  0.0042
0   0.0103  0.0048  0.0042  0.0068  0.0858
..     ...     ...     ...     ...     ...
0   0.0361  0.0185  0.0919  0.1615  0.0904
0   0.0919  0.1615  0.0904  0.0821  0.0603
0   0.0904  0.0821  0.0603  0.0257  0.0150
0   0.0603  0.0257  0.0150  0.0134     NaN
0   0.0150  0.0134     NaN     NaN     NaN

[5313 rows x 5 columns]

In [33]:
window.to_csv(f'../../datasets/study-players/{record_date}/clustering/{player_name}_al2d_windows_10_60.csv')

Después con ActivityLoad 3D

In [34]:
window = pd.DataFrame()

In [35]:
for i in range(0,len(activity_load), int(window_size*(1-overlap))):
    window = window.append([activity_load.iloc[i:i+window_size]['activity_load_3d'].values])

In [36]:
window

         0       1       2       3       4
0   0.0566  0.0427  0.0543  0.0495  0.0335
0   0.0543  0.0495  0.0335  0.0337  0.0367
0   0.0335  0.0337  0.0367  0.0686  0.0137
0   0.0367  0.0686  0.0137  0.0059  0.0070
0   0.0137  0.0059  0.0070  0.0087  0.1203
..     ...     ...     ...     ...     ...
0   0.0475  0.0364  0.1168  0.1873  0.1325
0   0.1168  0.1873  0.1325  0.1057  0.0747
0   0.1325  0.1057  0.0747  0.0315  0.0167
0   0.0747  0.0315  0.0167  0.0149     NaN
0   0.0167  0.0149     NaN     NaN     NaN

[5313 rows x 5 columns]

In [37]:
window.to_csv(f'../../datasets/study-players/{record_date}/clustering/{player_name}_al3d_windows_10_60.csv')