In [1]:
import pandas as pd

In [2]:
ORIGINAL_DATA_FILE_DIR = '../../../../datasets/original-data/Exported Data_202309081718_Cavo, Malena.csv'

Las primeras 6 filas es información de la captura de datos

In [3]:
with open(ORIGINAL_DATA_FILE_DIR, 'r') as file:
    # Lee todas las líneas del archivo en una lista
    lines = file.readlines()

In [6]:
lines[:4]

['\ufeffExported Sensor Data, Version 2\n',
 'Start Time: ,[2023-09-08 19:18:53 137],Cavo  Malena\n',
 '\n',
 '\n',
 'Seconds from Start,Date Time,Speed (km/h),HR (bpm),Core Temperature °C,X accelerometer (Sideways),Y accelerometer (Forward),Z accelerometer (Vertical),Raw RR (ms),Filtered RR (ms),Difference,HR RMSSD,ActivityLoad 2D,ActivityLoad 3D\n']

In [7]:
skip_rows = 4

Inicio de la captura, nombre de la jugadora, tipo, nombre, inicio y fin

In [8]:
player_name = 'cavo_malena'

In [9]:
record_date = '20230908'

In [10]:
df = pd.read_csv(ORIGINAL_DATA_FILE_DIR,skiprows=skip_rows)
df.head()

,Seconds from Start,Date Time,Speed (km/h),HR (bpm),Core Temperature °C,X accelerometer (Sideways),Y accelerometer (Forward),Z accelerometer (Vertical),Raw RR (ms),Filtered RR (ms),Difference,HR RMSSD,ActivityLoad 2D,ActivityLoad 3D
0,"1,001",[2023-09-08 19:18:54 138],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,102",[2023-09-08 19:18:54 239],0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1,129",[2023-09-08 19:18:54 266],NaN,NaN,NaN,0,"-9,9531","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN
3,"1,139",[2023-09-08 19:18:54 276],NaN,NaN,NaN,0,"-9,8","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN
4,"1,148",[2023-09-08 19:18:54 285],NaN,NaN,NaN,0,"-9,9531","-9,5037",NaN,NaN,NaN,NaN,NaN,NaN

Debemos obtener la información relevante:
* Seconds from Start
* Date Time
* HR (bpm)
* ActivityLoad 2D
* ActivityLoad 3D

In [11]:
hr = df[~df['HR (bpm)'].isnull()][['Seconds from Start', 'Date Time', 'HR (bpm)']]
hr

       Seconds from Start                  Date Time  HR (bpm)
10684              98,302  [2023-09-08 19:20:31 439]      80.0
10741              98,802  [2023-09-08 19:20:31 939]      80.0
10799              99,302  [2023-09-08 19:20:32 439]      81.0
10856              99,802  [2023-09-08 19:20:32 939]      82.0
10910             100,302  [2023-09-08 19:20:33 439]      84.0
...                   ...                        ...       ...
976599           8556,556  [2023-09-08 21:41:29 693]     128.0
976656           8557,056  [2023-09-08 21:41:30 193]     128.0
976712           8557,556  [2023-09-08 21:41:30 693]     128.0
976767           8558,056  [2023-09-08 21:41:31 193]     128.0
976823           8558,556  [2023-09-08 21:41:31 693]     128.0

[16794 rows x 3 columns]

Se cambia el nombre de las variables

In [12]:
hr.columns = ['seconds', 'date', 'hr']

In [13]:
hr.columns

Index(['seconds', 'date', 'hr'], dtype='object')

Se guarda el conjunto de datos resultante

In [14]:
FILE_NAME = f'{player_name}_hr.csv'
print(FILE_NAME)

cavo_malena_hr.csv

In [15]:
hr.to_csv(f'../../../../datasets/study-players/{record_date}/{FILE_NAME}')

Ahora hay que obtener la carga de actividad

In [16]:
activity = df[~df['ActivityLoad 2D'].isnull() & ~df['ActivityLoad 3D'].isnull()][['Seconds from Start', 'Date Time', 'ActivityLoad 2D', 'ActivityLoad 3D']]
activity

,Seconds from Start,Date Time,ActivityLoad 2D,ActivityLoad 3D
72,"1,765",[2023-09-08 19:18:54 902],"0,005","0,0055"
181,"2,765",[2023-09-08 19:18:55 902],"0,0019","0,0022"
291,"3,765",[2023-09-08 19:18:56 902],"0,0022","0,0025"
402,"4,765",[2023-09-08 19:18:57 902],"0,002","0,0023"
513,"5,765",[2023-09-08 19:18:58 902],"0,0022","0,0025"
...,...,...,...,...
976473,"8555,447",[2023-09-08 21:41:28 584],"0,0703","0,0863"
976587,"8556,447",[2023-09-08 21:41:29 584],"0,0863","0,1167"
976699,"8557,447",[2023-09-08 21:41:30 584],"0,0561","0,0723"
976810,"8558,447",[2023-09-08 21:41:31 584],"0,0435","0,0454"
976921,"8559,447",[2023-09-08 21:41:32 584],"0,0206","0,0219"

Se cambia el nombre de las variables

In [17]:
activity.columns = ['seconds', 'date', 'activity_load_2d','activity_load_3d']

In [18]:
activity.columns

Index(['seconds', 'date', 'activity_load_2d', 'activity_load_3d'], dtype='object')

Se guarda el conjunto de datos resultante

In [19]:
FILE_NAME = f'{player_name}_activity_load.csv'
print(FILE_NAME)

cavo_malena_activity_load.csv

In [20]:
activity.to_csv(f'../../../../datasets/study-players/{record_date}/{FILE_NAME}')